body {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.button {
  color: #fff;
  background-color: #014760;
  padding: 2rem 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

