@import "variables";

/*
**  HTML5 Tag Configurations  **
*/

:root {
  font-size: $root-font-size;
}

html, body {
  font-family: $font-family;
  font-size: 100%;
  font-weight: $default-font-weight;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: $color-dark-teal;
  font-size: $heading-large-font-size;
  margin: 1rem 0;
}

h2 {
  font-size: $heading-medium-font-size;
  color: $color-black;
  margin: 1rem 0;
}

h3 {
  font-size: $heading-small-font-size;
  color: $color-regular-gray;
  text-transform: uppercase;
  margin: 1rem 0;
}

p {
  color: $color-regular-gray;
  font-size: $paragraph-font-size;
  margin-bottom: 2rem;
}
