.container {
  margin: 0 $spacing*2+44.984px;
  width: 100%;
  height: 100%;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  text-transform: uppercase;
}

#page-links {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 0 $spacing;
}

#main {
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
}

.main_content {
  position: relative;
  width: 55%;
  top: 50%;
  transform: translateY(-50%);
}

#features {
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.features_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

#contacts {
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.contacts_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

#clients {
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
