.container {
  margin-left: 16.074%;
  margin-right: 6.225%;
  width: 100%;
}

#header {
  position: fixed;
  width: 100%;
  margin: 3.429rem 0;
  top: 0;
  left: 0;
  z-index: 10;
}

#page-links {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 16.074%;
}

#main {
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.main_content {
  width: 50%;
}

#features {
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.features_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
