// COLORS
$color-primary: #00465f;
$color-secondary: #43b9dd;
$color-regular-gray: #777;
$color-black: #333;
$color-white: #fff;

// FONTS
$font-family: Montserrat, Arial, Helvetica, sans-serif;
$heading-large-font-size: 4rem;
$heading-medium-font-size: 1.5rem;
$heading-small-font-size: 1rem;
$paragraph-line-height: 3rem;
$paragraph-font-size: 1.5rem;

$spacing: 50px;