@import "configs";
@import "variables";

/*
**  Classes
*/

.container {
  width: 75%;
  margin: auto;
  overflow: hidden;
}

.special-emphasis {
  color: $color-light-blue;
  text-decoration: underline;
  font-style: normal;
}
.cta-buttons-container {
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 1rem 0;
}
.cta-button-signup {
  background-color: $color-dark-teal;
  color: $color-white;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  border: 1px solid $color-dark-teal;
  transition: 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0);
    color: $color-dark-teal;
    border: 1px solid $color-dark-teal;
    transition: 0.3s ease;
  }
}
.cta-button-login {
  color: $color-regular-gray;
  margin-right: 2.5rem;
}
.cta-button-learnmore {
  padding: 1.5rem 2.5rem;
  color: $color-regular-gray;
  display: inline-block;
}

/*
**  Page Content
*/

#header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.75rem 5rem;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  z-index: 100;

  #logo-container {
    flex: 1;

    svg {
      width: 4rem;
      height: 4rem;
    }
  }

  nav {
    flex: 2;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        list-style: none;
        display: inline-block;
        padding: 1rem;

        a {
          color: $color-dark-teal;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  .header-cta-buttons {
    flex: 1;
    text-align: right;
    text-transform: uppercase;
  }
}

#landing-page .company-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  width: 50%;

  .company-description {
    color: $color-regular-gray;
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    margin-bottom: 2rem;
  }
}

#features-page {
  height: 100vh;
  position: relative;
  display: flex;

  .features-container {
    display: flex;
    flex-direction: column;
    margin: auto;

    h1 {
      flex: 1;
      text-align: center;
      margin-bottom: 5rem;
    }

    .features-description {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        width: 285px;

        h2 {
          display: inline-block;
          width: 300px;
          line-height: 6rem;
        }

        p {
          line-height: 1.8rem;
        }

        .features-cta-container {
          display: flex;
          flex: 1;
          justify-content: flex-end;

          a {
            padding: 0;
            text-transform: uppercase;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

#contact {
  height: 100vh;
  position: relative;

  .contact-container {
    text-align: center;
    position: absolute;
    @include posCenter();

    a {
      font-size: $heading-large-font-size;
      color: $color-dark-teal;
      overflow: hidden;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        width: 0;
        bottom: -5px;
        background: $color-dark-teal;
        height: 2px;
        transition-property: width;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
      }

      &:hover:after,
      &:focus:after,
      &:active:after {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
}
