.cta-btn {
  text-transform: uppercase;
  margin-top: 2rem;
}

.cta-btn_signup {
  color: $color-white;
  padding: 1rem 2.143rem;
  background-color: $color-primary;
  border: 1px solid transparent;
  transition: color 0.7s cubic-bezier(0.694, 0, 0.335, 1),
    background-color 0.7s cubic-bezier(0.694, 0, 0.335, 1),
    border 0.7s cubic-bezier(0.694, 0, 0.335, 1);

  &:hover {
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: transparent;
    transition: color 0.5s cubic-bezier(0.694, 0, 0.335, 1),
      background-color 0.5s cubic-bezier(0.694, 0, 0.335, 1),
      border 0.5s cubic-bezier(0.694, 0, 0.335, 1);
  }
}

.cta-btn_learnmore {
  padding: 1rem 2.143rem;
  color: $color-regular-gray;
}

.cta-btn a {
  display: inline-block;
}
